{% extends "base.html" %}
{% from "macros.html" import page_header, data_table %}

{% block title %}交易记录 - {{ config.APP_NAME }}{% endblock %}

{% block page_css %}
{% endblock %}

{% block content %}
<div class="container-fluid">
    {{ page_header("交易记录", "查看和管理您的所有交易记录", "receipt") }}
    
    <!-- 交易列表 -->
    <div class="row mt-4">
        <div class="col-12">
            {% set headers = ['日期', '账户', '金额', '余额', '对手信息', '摘要'] %}
            
            {{ data_table(
                id='transactions-table',
                headers=headers,
                title='交易明细',
                total=pagination.total if pagination else 0
            ) }}
            
            <!-- 统一的数据容器，供JavaScript使用 -->
            <div id="page-data" 
                 data-initial-data='{{ {
                     "transactions": transactions,
                     "pagination": pagination|serialize_pagination
                 }|tojson|safe }}'
                 style="display: none;">
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block page_scripts %}
<script type="module" src="{{ url_for('static', filename='js/pages/transactions.js') }}"></script>
{% endblock %}